/* reset css */
@import 'reset.css';
/* utill css */
@import 'utill.css';

body {
    background: var(--dark);
    color: var(--light);
    overflow-x: hidden;
}

nav {
    box-shadow: 1px 1px 30px #b7e610;
}

.title{
    margin-top: 20vh;
    text-align: center;
    font-size: 45px;
}

.title p{
    font-size: 30px;
}

.title .small p{
    font-size: 20px;
}

.title-windows{
    text-align: center;
    margin-top: 15vh;
    font-size: 15px;
}

.title-linux{
    text-align: center;
    margin-top: 20vh;
    font-size: 18px;
}

.arch-stuff{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 20px;
}

.code-block{
    line-height: 50px;
    color: #b7e610;
}

code{
    color: #b7e610;
}

.subheading{
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
}

.apps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    margin-top: 50px;
}

.apps a {
    color: var(--light);
    text-decoration: none;
}

.apps a:hover{
    color: #f2f2f2f2
}

.windows-stuff {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20vh;
    font-size: 25px;
    line-height: 50px;
}

.list, a {
    text-decoration: none;
    color: var(--light);
}

.list a:hover{
    color: #cccbcb;
}