/* CSS Reset */

/* Box sizing border-box for all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

/* Remove list styles (bullet points) */
ol,
ul {
    list-style: none;
}

/* Remove default hyperlink styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove default outline styles */
button,
input,
textarea {
    outline: none;
}

/* Remove default border styles */
img,
iframe,
input,
textarea,
button {
    border: none;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;200&display=swap');

body {
    font-family: 'ASAP', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #444;
    background: linear-gradient(to bottom, #444, #333);
    /* For older browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444', endColorstr='#333', GradientType=0);
    color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-shadow: 5px 5px 20px black;
}

.Header {
    margin: 25rem 0 0 20rem;
}

.Title {
    display: flex;
    font-size: 3.5rem;
}

.Title small {
    font-size: 1rem;
    font-style: italic;
    margin: 25px 20px;
    color: #888;
}

.Profile-img {
    position: relative;
    top: -20rem;
    left: 50rem;
}

.Profile-img img {
    position: relative;
    border: none;
    border-radius: 50%;
    height: 25rem;
    animation: slow-border 10s infinite linear;
}

@keyframes slow-border {
    0% {
        border: 3.5px solid red;
    }

    14.28% {
        border: 3.5px solid orange;
    }

    28.57% {
        border: 3.5px solid yellow;
    }

    42.85% {
        border: 3.5px solid green;
    }

    57.14% {
        border: 3.5px solid blue;
    }

    71.42% {
        border: 3.5px solid indigo;
    }

    85.71% {
        border: 3.5px solid violet;
    }

    100% {
        border: 3.5px solid red;
    }
}

.Socials {
    font-size: 1.5rem;
    text-shadow: none;
}

.container {
    display: flex;
    margin-top: 1rem;
}

.Subheading {
    font-size: 1.5rem;
}

ol {
    list-style: circle;
    margin: 0 2rem;
}

li {
    padding: 5px 0;
}

.Language-icons i{
    font-size: 2.5rem;
}

.OS {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}